# Listas

In [1]:
bicycles = ['trek', 'specialized', 'st cruz', 'cube']
print(bicycles)

['trek', 'specialized', 'st cruz', 'cube']

In [2]:
bicycles[0]

'trek'

In [3]:
bicycles[-2]

'st cruz'

In [4]:
bicycles[0] = 'redline'
bicycles

['redline', 'specialized', 'st cruz', 'cube']

In [5]:
bicycles.append('big')
bicycles

['redline', 'specialized', 'st cruz', 'cube', 'big']

In [6]:
bicycles.insert(0, 'gravel')

In [7]:
bicycles.pop()
bicycles

['gravel', 'redline', 'specialized', 'st cruz', 'cube']

In [8]:
bicycles.pop(1)
bicycles

['gravel', 'specialized', 'st cruz', 'cube']

In [9]:
del bicycles[0]
bicycles

['specialized', 'st cruz', 'cube']

In [10]:
bicycles.remove('st cruz')
bicycles

['specialized', 'cube']

In [11]:
bicycles = ['trek', 'specialized', 'st cruz', 'cube']
#bicycles.sort()
print(bicycles)

['trek', 'specialized', 'st cruz', 'cube']

In [12]:
numbers = [4, 8, 2, 9, 6]
numbers.sort()
numbers

[2, 4, 6, 8, 9]

In [13]:
bicycles.sort(reverse=True)
bicycles

['trek', 'st cruz', 'specialized', 'cube']

In [14]:
sorted(bicycles)
bicycles

['trek', 'st cruz', 'specialized', 'cube']

In [15]:
bicycles.reverse()
bicycles

['cube', 'specialized', 'st cruz', 'trek']

In [16]:
len(bicycles)

4

In [17]:
bicycles[7]

IndexError: list index out of range

In [ ]:
for bicycle in bicycles:
    print(bicycle, 'the best' )


print('hello')

cube the best
hello
st cruz the best
hello
specialized the best
hello
trek the best
hello

In [ ]:
for i in range(len(bicycles)):
    print(bicycles[i])

cube
st cruz
specialized
trek

In [ ]:
x = range(5,10)
x

range(5, 10)

In [ ]:
x = list(range(5,10))
x

[5, 6, 7, 8, 9]

In [19]:
x = range(0, 1000)
x

range(0, 1000)

In [ ]:
x = list(range(5, 100, 5))
x

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95]

In [21]:
squares = []

for value in range(5, 100, 5):
    square = value**2
    squares.append(square) 

print(squares)

[25, 100, 225, 400, 625, 900, 1225, 1600, 2025, 2500, 3025, 3600, 4225, 4900, 5625, 6400, 7225, 8100, 9025]

In [23]:
squares = []

for value in range(5, 100, 5):
    squares.append(value**2) 

print(squares)

[25, 100, 225, 400, 625, 900, 1225, 1600, 2025, 2500, 3025, 3600, 4225, 4900, 5625, 6400, 7225, 8100, 9025]

In [24]:
#List comprenhesions
squares = [value**2 for value in range(5, 100, 5)]

In [26]:
squares

[25,
 100,
 225,
 400,
 625,
 900,
 1225,
 1600,
 2025,
 2500,
 3025,
 3600,
 4225,
 4900,
 5625,
 6400,
 7225,
 8100,
 9025]

In [27]:
bicycles = ['trek', 'specialized', 'st cruz', 'cube']

In [29]:
for bicycle in bicycles[:3]:
    print(bicycle)

trek
specialized
st cruz

In [48]:
my_foods = ['pizza', 'falafel', 'cake']
friend_foods = my_foods

In [49]:
my_foods

['pizza', 'falafel', 'cake']

In [50]:
friend_foods

['pizza', 'falafel', 'cake']

In [51]:
my_foods.append('hotdogs')

In [52]:
my_foods

['pizza', 'falafel', 'cake', 'hotdogs']

In [53]:
friend_foods

['pizza', 'falafel', 'cake', 'hotdogs']

In [54]:
friend_foods.append('pletzel')

In [55]:
my_foods

['pizza', 'falafel', 'cake', 'hotdogs', 'pletzel']

In [56]:
my_foods = ['pizza', 'falafel', 'cake']

In [57]:
friend_foods = my_foods[:]

In [58]:
my_foods.append('hotdogs')

In [59]:
print(my_foods)

['pizza', 'falafel', 'cake', 'hotdogs']

In [60]:
print(friend_foods)

['pizza', 'falafel', 'cake']

# Tuplas

In [41]:
x = [3.15]

In [42]:
type(x)

list

In [45]:
t = (3.15,)

In [46]:
type(t)

tuple

In [38]:
dimensions = (200, 5, 3)

In [39]:
dimensions = (200, 5, 3)

5

In [40]:
dimensions[1] = 200

TypeError: 'tuple' object does not support item assignment

In [47]:
for dimension in dimensions:
    print(dimension)

200
5
3

In [61]:
dimensions = (200, 200, 3)

In [62]:
print(dimensions)

(200, 200, 3)

In [63]:
t = ((1, 2, 3), 3.15, 5, [1, 2, 3])

In [67]:
t[3][2] = 4

In [68]:
t[3] = [4, 5, 6]

TypeError: 'tuple' object does not support item assignment

In [69]:
t[3].append('hola')

In [70]:
l = [3, 3.15, (1, 2, 3)]

In [71]:
l[2][2] = 4

TypeError: 'tuple' object does not support item assignment

In [72]:
l[2] = 'hola'

In [73]:
l

[3, 3.15, 'hola']

# If

In [74]:
topppings = ['mushrooms', 'onions', 'pineapple']

In [75]:
for topping in topppings:
    if topping == 'onions':
        print('No me gusta')

No me gusta

In [76]:
'inions' in topppings

False

In [77]:
if 'onions' in topppings:
    print('No me gusta')

No me gusta

In [78]:
if 'ham' not in topppings:
    topppings.append('ham')

print(topppings)

['mushrooms', 'onions', 'pineapple', 'ham']

In [79]:
x = 'inions' in topppings

In [81]:
print(type(x))

<class 'bool'>

In [ ]:
age = 12

if age < 4:
    print("cost is: $0")

elif age < 18:
    print("cost is: $50")

else: 
    print("cost is: $90")

In [82]:
request_topppings = []

if request_topppings:
    for topping in topppings:
      print("Adding" + topping)
    
    print("Finished making you pizza")

else: 
    print("Are you sure you want a plain pizza?")

Are you sure you want a plain pizza?

In [84]:
avalible_toppings = ['mushrooms', 'olives', 'green peppers', 'pepperoni', 'pineapple', 'extra cheese']
request_topppings = ['mushrooms', 'french fires', 'extra cheese']

for request_toppping in request_topppings:
    if request_toppping in avalible_toppings:
        print('adding ' + request_toppping)
    else: 
        print("sorry! we don't have " + request_toppping)

print('Finished making pizza!')

adding mushrooms
sorry! we don't have french fires
adding extra cheese
Finished making pizza!